---
import Interview from '@/sections/Home/containerInterview-Magazine/Interview.astro';
import Magazine from '@/sections/Home/containerInterview-Magazine/Magazine.astro';
---

<section
	id="ContainerInterview-Magazine"
	class="mt-8 flex h-96 w-full flex-col items-center justify-center bg-white px-4 md:flex-row"
>
	<Interview />
	<Magazine />
</section>
