---
// filepath: c:\Users\USUARIO PC\Desktop\ACTUALIDAD\frontend\src\pages\categorias\[categoryId].astro
import Layout from '@/layouts/Layout.astro';
import { getNews } from '@/lib/get-news';
import NewsCard from '@/components/home/NewsCard.astro';

const { categoryId } = Astro.params;
if (!categoryId) throw Astro.redirect('/404');

const { products } = await getNews({ categoryId });
---

<Layout title={categoryId} booleanLayout={true}>
	<section class="mx-auto max-w-6xl px-4 py-8">
		<h2 class="mb-8 text-center text-4xl font-extrabold tracking-tight text-gray-800 capitalize">
			Noticias de {categoryId}
		</h2>
		<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
			{products.map((product: any) => <NewsCard product={product} truncateWords={30} />)}
		</div>
	</section>
</Layout>
