---
import BannerHeader from './Header/BannerHeader.astro';

interface Props {
	booleanHeader: boolean;
}

const { booleanHeader } = Astro.props;

const dataHeaderSections = [
	{ nombre: 'Laboral', url: '/categorias/laboral' },
	{ nombre: 'Comercial', url: '/categorias/comercial' },
	{ nombre: 'Civil', url: '/categorias/civil' },
	{ nombre: 'Administrativo', url: '/categorias/administrativo' },
	{ nombre: 'Societario', url: '/categorias/societario' },
	{ nombre: 'SG-SST', url: '/categorias/SG-SST' },
	{ nombre: 'Familia', url: '/categorias/familia' }
];
---

<BannerHeader booleanBanner={booleanHeader} />
<header
	class="flex h-auto w-full flex-col items-center justify-center md:max-w-[1260px]"
	transition:name="header"
>
	<ul class="flex size-full">
		<li class="h-auto w-[20%] bg-red-300"></li>
		<li class="h-auto w-[10%] bg-red-400"></li>
		<li class="h-14 w-[40%] bg-gray-50">
			<a href="/"
				><img
					src="/header/logo.png"
					alt="Centro Jurídico Internacional"
					class="w-full"
					loading="eager"
					decoding="async"
					fetchpriority="high"
				/></a
			>
		</li>
		<li class="h-auto w-[30%] bg-red-600"></li>
	</ul>
	<ul class="flex size-full">
		{
			dataHeaderSections.map((i) => (
				<li class="h-12 w-1/6 border-2 border-green-800 bg-green-200">
					<a
						href={i.url}
						class="flex size-full items-center justify-center text-center transition-all duration-150 ease-out hover:-translate-y-1 hover:scale-110"
					>
						{i.nombre}
					</a>
				</li>
			))
		}
	</ul>
</header>
